{% extends 'basketapp/_base.html' %}
{% load staticfiles %}


{% block content %}
<div class="basket_list">
    {% for item in basket_items %}
    <div class="basket_record">
        <img src="{{ media_url }}{{ item.product.image_src }}" alt="{{ item.product.alt }}">
        <span class="category_name">{{ item.product.id_cat.name }}</span>
        <span class="product_name">{{ item.product.name }}</span>
        <span class="product_price">{{ item.product.price }}&nbsp ₽</span>
        <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
        <span class="product_cost">{{ item.product_cost }}&nbsp ₽</span>
        <button class="btn btn-round">
            <a href="{% url 'basket:remove' item.pk %}" class="">
                удалить
            </a>
        </button>
    </div>
    {% endfor %}

    {% if basket_items %}
    <div class="basket_summary">
        В корзине {{ user.total_quantity }} товаров общей стоимостью
        {{ user.total_cost }} руб
    </div>
    {% endif %}

    <button class="btn btn-round">
        <a href="{% url 'main' %}">
            на главную
        </a>
    </button>
</div>
{% endblock %}