{% extends 'mainapp/_base.html' %}
{% load staticfiles %}


{% block myMenuBlock %}
    <div class="slider">
        <div class="header clearfix">
            {% include 'mainapp/includes/menu_inc.html' %}
        </div>
        <div class="text-slider">
            <h3 class="green">тенденции</h3>
            <h3 class="big"> удобные стулья</h3>
            <p>Новый уровень комфорта. Отличные характеристики.</p>
            <a href="#" class="button-order">заказать <img src="{% static '/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="navi">
            <a href="#"></a><a href="#"></a><a href="#"></a>
        </div>
    </div>
{% endblock myMenuBlock %}

{% block myContentBlock %}
    <div class="featured">
        <div class="featured-menu">
            <a class="active" href="#">Популярные</a><a href="#">Новинки</a>
        </div>
        <a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
        <div class="clearfix">
        </div>
        <div class="tab-content">
            {% for product in products %}
                <div class="block">
                    <a href="{{ product.image_href }}"><img src="{% static 'img/' %}{{ product.image_src }}"
                                                            alt="{{ product.alt }}">
                        <div class="text">
                            <img src="{% static 'img/icon-hover.png' %}" alt="{{ product.alt }}">
                            <h4>{{ product.name }}</h4>
                            <p>{{ product.desc }} </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="clr"></div>

    </div>
{% endblock myContentBlock %}
