{% extends 'mainapp/_base.html' %}
{% load staticfiles %}

{% block myMenuBlock %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/menu_inc.html' %}
        </div>
    </div>
{% endblock myMenuBlock %}

{% block myContentBlock %}
    <div class="details">
        <div class="links clearfix">
            <ul class="links-menu">
                {% for link_menu in links_menu %}
                    <li><a href="{% url link_menu.href %}"
                           class="{% if request.resolver_match.url_name == link_menu.href %}active{% endif %}">{{ link_menu.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="{% static 'img/slider1.jpg' %}">
                </div>
                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="{% static 'img/controll.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{% static 'img/controll1.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                    <div class="block">
                        <a href="#"><img src="{% static 'img/controll2.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">Отличный стул</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price"> 2585.9 <span>руб</span></p>
                <a href="#" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>Расположитесь комфортно.</p>
                    <p>Отличное качество материалов
                        позволит вам это.</p>
                    <p>Различные цвета</p>
                    <p>высочайший уровень
                        эргономики и прочность.</p>
                </div>
            </div>
        </div>

        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for same_product in same_products %}
                    <div class="block">
                        <a href="#"><img src="{{ media_url }}{{ same_product.image_src }}"
                                         alt="{{ same_product.image_alt }}">
                            <div class="text">
                                <img src="{% static 'img/icon-hover.png' %}" alt="{{ same_product.alt }}">
                                <h4>{{ same_product.name }}</h4>
                                <p>{{ same_product.desc }} </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="clr"></div>
{% endblock myContentBlock %}